{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "jest": true
  },
  "globals": {
    "BigInt": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  }
}
